<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Incorrect User name or password.</h2>
    <br><br>
    <b style="display: flex; justify-content:center"><button><a href="/loginAdmin">Try Again</a></button></b>

    <script src="../app.js"></script>
</body>
</html>