<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connected</title>
</head>
<body>
    <h2>Congratulations! You have successfuly been authenticated</h2>
    <h4>Status code <%= stcode %></h4>
    <h3>You are now connected to NextT. wi-fi.</h3>
    <h4>Enjoy fast internet connection</h4>
</body>
</html>