<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User account added</title>
</head>
<body>
    <h3>Nice! User account added successfully.</h3>
    <br>
    <br><br>
    <a href="/newUserAccountAdded"><button><b>Ok</b></button></a>

    <script src="../app.js"></script>
</body>
</html>