<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update user Account</title>
</head>
<body>
    <form action="/updateUserfm" method="post">
        <small>Old Userame</small><br>
        <input type="text" name="cname"><br><br>
        <small>New Username</small><br>
        <input type="text" name="nname">
        <br><hr>
        <br>
        <small>Old Password</small><br>
        <input type="text" name="cpassword"><br><br>
        <small>New Password</small><br>
        <input type="text" name="npassword">
        <br><hr><br>
        <button>Update</button>
        <script src="../app.js"></script>
    </form>
</body>
</html>