<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User validation error</title>
</head>
<body>
    <h2>validation error!</h2>
    <h3><%= errormsg %></h3>
     <br>
    <br>
    <a href="#">Try again</a>

    <script src="../app.js"></script>
</body>
</html>